<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".KaptorActivity"
            android:exported="false"
            android:label="Kaptor"
            android:launchMode="singleTask"
            android:taskAffinity="com.akardas.kaptor.android.task"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.kaptor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kaptor_file_paths" />
        </provider>
    </application>

</manifest>
